<div class="admin-users-container">
  <h2>Usuarios Registrados</h2>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.rol }}</td>
        <td>
          <button (click)="eliminarUsuario(user.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
