<div class="login-container">
  <form (ngSubmit)="onLogin()" #loginForm="ngForm" class="login-form">
    <img src="src/assets/logo-alertavision.png" alt= />

    <h2>Inicia sesión en <span class="brand">AlertaVisión</span></h2>

    <input
      type="email"
      name="email"
      [(ngModel)]="email"
      placeholder="Correo electrónico"
      required
    />

    <input
      type="password"
      name="password"
      [(ngModel)]="password"
      placeholder="Contraseña"
      required
    />

    <button type="submit">Ingresar</button>

    <p class="register-text">
      ¿No tienes una cuenta?
      <a routerLink="/register">Regístrate aquí</a>
    </p>

    <small class="terms">
      Al iniciar sesión, aceptas nuestras
      <a href="#">Condiciones</a> y
      <a href="#">Política de privacidad</a>.<br />
      Podemos enviarte notificaciones.
    </small>
  </form>
</div>
